<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OVERTIME_PROJECT_01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OVERTIME_PROJECT_01.Properties.Settings.OVERTIME_SYSTEMConnectionString"
            connectionString="Data Source=DESKTOP-7SDHT04;Initial Catalog=OVERTIME_SYSTEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OVERTIME_PROJECT_01.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>﻿&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;Report ScriptLanguage="CSharp" ReportInfo.Created="08/23/2021 22:31:42" ReportInfo.Modified="08/23/2021 22:31:42" ReportInfo.CreatorVersion="2021.3.28.0"&gt;
  &lt;Dictionary/&gt;
&lt;/Report&gt;
</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>﻿&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;Report ScriptLanguage="CSharp" ReportInfo.Created="08/23/2021 22:31:43" ReportInfo.Modified="08/23/2021 22:31:47" ReportInfo.CreatorVersion="2021.3.28.0"&gt;
  &lt;Dictionary/&gt;
&lt;/Report&gt;
</value>
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
        </OVERTIME_PROJECT_01.Properties.Settings>
    </userSettings>
</configuration>